<p>tableschema {{ post_date }}</p>

<ul>
	{% for t in tables %}
		{% if reserved.all.first %}
			{% for r in reserved %}
				{% if t|lower == r.table|lower %}
					<li style="color:red">{{ t }} - {{ t.places }} - {{ t.shape }}</li>
				{% else %}
					<a href="{% url 'reserve' t.id %}"><li style="color:green">{{ t }} - {{ t.places }} - {{ t.shape }}</li></a>
				{% endif %}
			{% endfor %}
		{% else %}
			<a href="{% url 'reserve' t.id %}"><li style="color:green">{{ t }} - {{ t.places }} - {{ t.shape }}</li></a>
		{% endif %}
	{% endfor %}
</ul>
