/*svg {
	background: #f2f2f2;
}
*/
/*.table {
	position: relative;
	background: #ccffdd;
	text-align: center;
}

.reserved {
	background: #ffad99;
}

.selected {
	background: #ffffb3;
}

.oval {
	border-radius: 10px;
}*/

